<html lang="en">
    <%- include('./partials/head.ejs') %>
    <!-- hh -->
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="page">
       
        <!-- end of nav -->
        <div class="page">
            <h1>ERROR</h1>
            <h3>Lorem not found ..</h3>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>