<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document | <%= title%></title>
</head>
<body>
    <div class="page">
        <nav>
            <div class="title">
                <h1>BLOG</h1>
        <h3>Lorem and a lot of lorems ..</h3>
            </div>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/about">about page</a></li>
                <li><a href="/blogs/create">new blogs</a></li>
            </ul>
        </nav>
        <!-- end of nav -->
        <div class="content">
            <h2>about us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur a quaerat.</p>
            <p>nte quo at eligendi a dolorum quaerat illo animi accusantium ipsam, repellendus nesciunt eaque provident libero autem iusto veniam asperiores?</p>
        </div>
    </div>
</body>
</html>