<html lang="en">
    <%- include('./partials/head.ejs') %>
    <!-- hh -->
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="page">
        
        <!-- end of nav -->
        <div class="content">
            <h2>about us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur a quaerat.</p>
            <p>nte quo at eligendi a dolorum quaerat illo animi accusantium ipsam, repellendus nesciunt eaque provident libero autem iusto veniam asperiores?</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>