<html lang="en">
    <%- include('./partials/head.ejs') %>
    <!-- hh -->
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="page">
       
        <!-- end of nav -->
        <div class="content">
            <h2>create blogs</h2>
            <form>
                <label for="title">blog title:</label>
                <input type="text" id="title" required>
                <label for="snippet">blog snippet:</label>
                <input type="text" id="snippet" required>
                <label for="body">blog body:</label>
                <textarea id="body"required"></textarea>
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>