<nav>
    <div class="title">
        <h1>BLOG</h1>
        <!-- <p><%= name %></p> -->
<h3>Lorem and a lot of lorems ..</h3>
    </div>
    <ul>
        <li><a href="/">home page</a></li>
        <li><a href="/about">about page</a></li>
        <li><a href="/blogs/create">new blogs</a></li>
    </ul>
</nav>